*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: auto;
}
.main_text{
    color: crimson;
    text-align: center;
    background-color: #b2afaf;
    padding: 10px;
}

.content-text{
    text-align: center;
    color: dimgray;
    font-size: 15px;
    margin: 20px;
}
